/* src/App.css */

@tailwind base;
@tailwind components;
@tailwind utilities;


.tooltip-custom {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.orb-container {
  --fill-percentage: 0%;
  background: conic-gradient(
    var(--fill-color, #3498db) var(--fill-percentage),
    #e0e0e0 0%
  );
  transition: background 1.5s ease;
}

.orb-shine {
  position: absolute;
  top: 0;
  left: 0;
  width: 128px;
  height: 128px;
  background: radial-gradient(
    circle at 30% 30%,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0) 60%
  );
  border-radius: 50%;
  pointer-events: none;
}

.overlay {
  background: radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.3), transparent 60%);
  animation: shimmer 2s infinite;
  pointer-events: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes shimmer {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Fully Filled Orbs */
.glow::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 50%;
  box-shadow: 0 0 20px 10px rgba(231, 76, 60, 0.6);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 20px 10px rgba(231, 76, 60, 0.6);
  }
  50% {
    box-shadow: 0 0 30px 15px rgba(231, 76, 60, 0.8);
  }
  100% {
    box-shadow: 0 0 20px 10px rgba(231, 76, 60, 0.6);
  }
}


.orb-container:hover {
  animation: rotate 10s linear infinite;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

body {
  font-family: 'IM Fell English', serif;
}

