/* src/index.css */

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=Cinzel&display=swap');

body {
  font-family: 'IM Fell English', serif;
  background-color: #fdf6e3; /* parchment background */
  background-blend-mode: multiply;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel', serif;
  color: #5d473a; 
}

html {
  font-size: 12px; /* Reduces the default font size from 16px to 14px */
}

/* Links */
a {
  color: #c9a66b; 
}

a:hover {
  color: #a6784a;
}
